<a href="https://colab.research.google.com/github/jokercsi/CodingTest/blob/main/numToWords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 5 / 2 = 2.5
# 5 // 2 = 2
# 5 % 2 = 1
less_than_20 = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine","eleven", "twelve", "thirteen", "fourteen","fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
tens = ["ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]
thousands = []

def less_than_1000(n):
    hund = n // 100 # 100の位の計算
    ten = (n - h * 100) // 10 # 10の位の計算
    one = (n - hNum * 100) % 10 # 1の位の計算

    # 11~19
    if n < 20:
        return less_than_20[n]

    # 0**
    elif hund  == 0:
        if ten == 0: # 00*
            return one[oNum-1]
        elif oNum == 0:  # 0*0
            return tens[tNum-1]        
        else: #0**
            return tens[tNum-1] + "-" + less_than_20[one]

    # 백이 있을 경우
    # 십이 없을 경우
    elif tNum == 0:
        # 일이 0일 경우
        if oNum == 0:
            return one[hNum-1] + " hundred"
        # 일이 있을 경우
        else:
            return one[hNum-1] + " hundred and " + one[oNum-1]

    # 백이 있고 십도 있을 경우
    else:
        # 일의자리가 없을 경우
        if oNum == 0:
            return one[hNum-1] + " hundred and " + ten[tNum-1]

        # 일의자리가 있을 경우
        else:
            if tNum == 1 and oNum != 0:
                return one[hNum-1] + " hundred and " + fixnum[oNum-1]

            else:
                return one[hNum-1] + " hundred and " + ten[tNum-1] + "-" + one[oNum-1]



def num_to_str(n):

SyntaxError: ignored

In [ ]:
num_to_str(504)

In [ ]:
# 5 / 2 = 2.5
# 5 // 2 = 2
# 5 % 2 = 1

def num_thousand(n):
    fixnum = ["eleven", "twelve", "thirteen", "fourteen",
              "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
    one = ["one", "two", "three", "four",
           "five", "six", "seven", "eight", "nine"]
    ten = ["ten", "twenty", "thirty", "forty", "fifty",
           "sixty", "seventy", "eighty", "ninety"]

    # 100の位の計算
    thNum = n // 1000

    hNum = (n - thNum * 1000) // 100

    # 10の位の計算
    teNum = (n - thNum * 1000 - hNum * 100) // 10

    # 1の位の計算
    oNum = (n - teNum * 100) % 10


    print(thNum, hNum, teNum, oNum)

    # n이11~19일 경우
    if n >= 11 and n <= 19:
        return fixnum[n-11]


    # 천이 없을 때 (천 = 0)
    elif thNum == 0:

        # 백이 0일떄, 
        if hNum == 0:
            #십의자리 0일때
            if teNum == 0: 
              return one[oNum-1]

            #십의자리, 일의 자리
            else:  
              return ten[teNum-1] + "-" + one[oNum-1]

        # 백이 있을 경우
        # 십이 없을 경우
        elif teNum == 0:
            # 일이 0일 경우
            if oNum == 0:
                return one[hNum-1] + " hundred"
            # 일이 있을 경우
            else:
                return one[hNum-1] + " hundred and " + one[oNum-1]

        # 백이 있을 때
        else:
          # 일의자리가 없을 경우
          if oNum == 0:
              return one[hNum-1] + " hundred and " + ten[teNum-1]

          # 일의자리가 있을 경우
          else:
              if teNum == 1 and oNum != 0:
                  return one[hNum-1] + " hundred and " + fixnum[oNum-1]

              else:
                  return one[hNum-1] + " hundred and " + ten[teNum-1] + "-" + one[oNum-1]






     # 천이 있을 때

In [ ]:
num_thousand(10)

In [ ]:
# Number to Words

# Main Logic
ones = ('Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine')

twos = ('Ten', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen')

tens = ('Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety', 'Hundred')

suffixes = ('', 'Thousand', 'Million', 'Billion')

def process(number, index):
    
    if number=='0':
        return 'Zero'
    
    length = len(number)
    
    if(length > 3):
        return False
    
    number = number.zfill(3)
    words = ''
 
    hdigit = int(number[0])
    tdigit = int(number[1])
    odigit = int(number[2])
    
    words += '' if number[0] == '0' else ones[hdigit]
    words += ' Hundred ' if not words == '' else ''
    
    if(tdigit > 1):
        words += tens[tdigit - 2]
        words += ' '
        words += ones[odigit]
    
    elif(tdigit == 1):
        words += twos[(int(tdigit + odigit) % 10) - 1]
        
    elif(tdigit == 0):
        words += ones[odigit]

    if(words.endswith('Zero')):
        words = words[:-len('Zero')]
    else:
        words += ' '
     
    if(not len(words) == 0):    
        words += suffixes[index]
        
    return words;
    
def getWords(number):
    length = len(str(number))
    
    if length>12:
        return 'This program supports upto 12 digit numbers.'
    
    count = length // 3 if length % 3 == 0 else length // 3 + 1
    copy = count
    words = []
 
    for i in range(length - 1, -1, -3):
        words.append(process(str(number)[0 if i - 2 < 0 else i - 2 : i + 1], copy - count))
        count -= 1;

    final_words = ''
    for s in reversed(words):
        temp = s + ' '
        final_words += temp
    
    return final_words
# End Main Logic

# Reading number from user
number = int(input('Enter any number: '))
print('%d in words is: %s' %(number, getWords(number)))

In [ ]:
s = "10.10"
if '.' in s:
  n = float(s)
else:
  n = int(s)

print(n)

In [ ]:
LESS_THAN_20 = ["Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"];
TENS = ["", "Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"]
THOUSANDS = ["", "Thousand", "Million", "Billion"]

def numberToWords(num):
  if num < 20: 
    return LESS_THAN_20[num] 

  if num < 100: 
    return TENS[(int)(num/10)-2] + ('' if num%10==0 else ' ' + LESS_THAN_20[num%10])

In [ ]:
numberToWords(19)

'Nineteen'

In [2]:
def num2words(num): 
	under_20 = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen'] 
	tens = ['Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety'] 
	above_100 = {100: 'Hundred',1000:'Thousand', 1000000:'Million', 1000000000:'Billion'} 
 
	if num < 20: 
		 return under_20[num] 
	 
	if num < 100: 
		return tens[(int)(num/10)-2] + ('' if num%10==0 else ' ' + under_20[num%10]) 
 
	# find the appropriate pivot - 'Million' in 3,603,550, or 'Thousand' in 603,550 
	pivot = max([key for key in above_100.keys() if key <= num]) 
 
	return num2words((int)(num/pivot)) + ' ' + above_100[pivot] + ('' if num%pivot==0 else ' ' + num2words(num%pivot))

In [3]:
 num2words(6030000)

'Six Million Thirty Thousand'

In [4]:
def int_to_en(num):

    d = { 0 : 'zero', 1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five',
          6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten',
          11 : 'eleven', 12 : 'twelve', 13 : 'thirteen', 14 : 'fourteen',
          15 : 'fifteen', 16 : 'sixteen', 17 : 'seventeen', 18 : 'eighteen',
          19 : 'nineteen', 20 : 'twenty',
          30 : 'thirty', 40 : 'forty', 50 : 'fifty', 60 : 'sixty',
          70 : 'seventy', 80 : 'eighty', 90 : 'ninety' }
    k = 1000
    m = 1000000 #million
    b = 1000000000 #billion
    t = 1000000000000 #trillion

    #소수일 경우
    # if num - int(num) == 0:
    #   return(num - int(num))

    # elif num - int(num) != 0:
    #   return(num - int(num))


    if (num < 20):
        return d[num]
        print(d[num])

    if (num < 100):
        if num % 10 == 0: return d[num]
        else: return d[num // 10 * 10] + '-' + d[num % 10]

    if (num < k):
        if num % 100 == 0: return d[num // 100] + ' hundred'
        else: return d[num // 100] + ' hundred ' + int_to_en(num % 100)

    if (num < m):
        if num % k == 0: return int_to_en(num // k) + ' thousand'
        else: return int_to_en(num // k) + ' thousand, ' + int_to_en(num % k)

    if (num < b):
        if (num % m) == 0: return int_to_en(num // m) + ' million'
        else: return int_to_en(num // m) + ' million, ' + int_to_en(num % m)

    if (num < t):
        if (num % b) == 0: return int_to_en(num // b) + ' billion'
        else: return int_to_en(num // b) + ' billion, ' + int_to_en(num % b)

    if (num % t == 0): return int_to_en(num // t) + ' trillion'
    else: return int_to_en(num // t) + ' trillion, ' + int_to_en(num % t)

In [5]:
int_to_en(1803004)

'one million, eight hundred three thousand, four'

In [6]:
d = { 0 : 'zero', 1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five',
    6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten',
    11 : 'eleven', 12 : 'twelve', 13 : 'thirteen', 14 : 'fourteen',
    15 : 'fifteen', 16 : 'sixteen', 17 : 'seventeen', 18 : 'eighteen',
    19 : 'nineteen', 20 : 'twenty',
    30 : 'thirty', 40 : 'forty', 50 : 'fifty', 60 : 'sixty',
    70 : 'seventy', 80 : 'eighty', 90 : 'ninety' 
}
t = 1000 #thousand
m = 1000000 #million
b = 1000000000 #billion

def calculator(num):

    #소수일 경우
    if num - int(num) != 0:
      print(float_to_eng(num))

    #소수가 아닐 경우
    else:
      print(int_to_en(num))


def float_to_eng(num):
    sosu = num - int(num)
    int_num = int(num)

    return(int_to_en(int_num) + ' point ' + float_separate(num))


def float_separate(num):
    a = []
    float_str = ""
    for i in str(num):
      a.append(i)
    #정수 지우기
    a = a[2:] 

    for i in a:
      float_str += d[int(i)] + " "
    return float_str


def int_to_en(num):
    if (num < 20):
        return d[num]

    elif (num < 100):
        if num % 10 == 0: 
          return d[num]
        else: 
          return d[num // 10 * 10] + '-' + d[num % 10]

    elif (num < t):
        if num % 100 == 0: 
          return d[num // 100] + ' hundred'
        else: 
          return d[num // 100] + ' hundred ' + int_to_en(num % 100)

    elif (num < m):
        if num % t == 0: return int_to_en(num // t) + ' thousand'
        else: return int_to_en(num // t) + ' thousand, ' + int_to_en(num % t)

    elif (num < b):
        if (num % m) == 0: return int_to_en(num // m) + ' million'
        else: return int_to_en(num // m) + ' million, ' + int_to_en(num % m)

In [7]:
calculator(10005)

ten thousand, five

In [8]:
import sys

d = { 0 : 'zero', 1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five',
    6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten',
    11 : 'eleven', 12 : 'twelve', 13 : 'thirteen', 14 : 'fourteen',
    15 : 'fifteen', 16 : 'sixteen', 17 : 'seventeen', 18 : 'eighteen',
    19 : 'nineteen', 20 : 'twenty',
    30 : 'thirty', 40 : 'forty', 50 : 'fifty', 60 : 'sixty',
    70 : 'seventy', 80 : 'eighty', 90 : 'ninety' 
}

t = 1000 #thousand
m = 1000000 #million
b = 1000000000 #billion
tr = 1000000000000 #trillion

def main(lines):
    # このコードは標準入力と標準出力を用いたサンプルコードです。
    # このコードは好きなように編集・削除してもらって構いません。
    # ---
    # This is a sample code to use stdin and stdout.
    # Edit and remove this code as you like.


    if not lines[0]:
        print(-1)
    elif lines[0].isalpha():
        print(-1)
    elif lines[0][0] == "0" and lines[0][1] != ".":
        print(-1)

    else:
        num = float(lines[0])

        #소수일 경우
        if num - int(num) != 0:
            print(float_to_eng(num).capitalize())

        #소수가 아닐 경우
        elif num - int(num) == 0:
            print(int_to_en(num).capitalize())


def float_to_eng(num):
    sosu = num - int(num)
    int_num = int(num)
    floatNum = round(sosu, 5)
    return(int_to_en(int_num) + ' point ' + float_separate(floatNum))


def float_separate(num):
    a = []
    float_str = ""

    
    for i in str(num):
      a.append(i)
    #정수 지우기
    a = a[2:] 

    for i in a:
      float_str += d[int(i)] + " "
    return float_str


def int_to_en(num):
    if (num < 20):
        return d[num]

    elif (num < 100):
        if num % 10 == 0: 
          return d[num]
        else: 
          return d[num // 10 * 10] + ' ' + d[num % 10]

    elif (num < t):
        if num % 100 == 0: 
          return d[num // 100] + ' hundred'
        else: 
          return d[num // 100] + ' hundred ' + int_to_en(num % 100)

    elif (num < m):
        if num % t == 0: return int_to_en(num // t) + ' thousand'
        else: return int_to_en(num // t) + ' thousand ' + int_to_en(num % t)

    elif (num < b):
        if (num % m) == 0: return int_to_en(num // m) + ' million'
        else: return int_to_en(num // m) + ' million ' + int_to_en(num % m)

    elif (num < tr):
        if (num % b) == 0: return int_to_en(num // b) + ' billion'
        else: return int_to_en(num // b) + ' billion ' + int_to_en(num % b)



if __name__ == '__main__':
    lines = []
    for l in sys.stdin:
        lines.append(l.rstrip('\r\n'))
    main(lines)

IndexError: ignored